# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized

Some of the popular languages that Data Scientists use are:

1. Julia
2. R
3. Python
4. Java
5. SQL

Some of the commonly used libraries used by Data Scientists include:

1. ggplot
2. caret
3. dplyr
4. string

|Data Science Tools |
|--------|
|Jupyter|
|RStudio|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
#this is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

__Objectives:__

- Python
- R
- Java
- SQL

## Author
Ariuka